.silentmessages-button svg {
  margin-top: 5px;
  color: var(--interactive-normal);
}

.silentmessages-button:hover svg {
  color: var(--interactive-hover);
}

.silentmessages-button {
  background: transparent;
}

.silentmessages-button-disabled,
.silent-disabled {
  display: none;
}

.silentmessages-button .disabled-indicator {
  position: absolute;
  transform: translateX(-15px) translateY(22px) rotate(-45deg);
}
